//All-buttons
.btns {
  width: 15.9vw;
}

//Tabs
.active1 {
  color: #495057;
  background-color: #ccc;
  border-color: #dee2e6, #ccc;
}

.brandtabs {
  width: 7.9vw;
}

//Product Panel Button
.panel-btn {
  background-color: #fff;
  border-color: #fff;
}

.sn-down {
  position: fixed;
  z-index: 100 !important;
  padding-top: 0.8vh;
  padding-left: 2vw;
}
