//All-buttons
.btns {
  width: 15.9vw;
}

//Tabs
.brandtabs {
  padding-left: 1.71vw;
  padding-right: 1.71vw;
}

.active1 {
  color: #495057;
  background-color: #bbb;
  border-color: #dee2e6 #bbb;
}

.contents {
  color: #bbb;
}
